# Proyecto del Día 8 - Análisis de Datos Meteorológicos

Este proyecto consiste en analizar un conjunto de datos meteorológicos utilizando Python y NumPy. 
El objetivo es aplicar las técnicas de manipulación de arrays, tratamiento de datos faltantes, 
y análisis estadístico básico en un conjunto de datos del mundo real.

## Tareas a Realizar:
1. Crear un DataFrame a partir de los datos del archivo **datos_meteorologicos.csv** provisto en esta lección.
2. Realizar observaciones iniciales de los datos con Pandas.
3. Convertir las columnas del DataFrame en arrays de NumPy.
4. Identificar los datos faltantes en los arrays, y reemplazarlos por el promedio de los valores del respectivo array.
5. Realizar análisis estadísticos básicos. Mínimamente se espera que puedas extraer la siguiente información de tus arrays:
    * La temperatura promedio
    * El total de precipitaciones
    * La máxima humedad registrada
    * La fecha más calurosa
    * La fehca más fría
6. Exportar los resultados a un nuevo archivo CSV.

¡Mucha suerte con tu proyecto!

### 1. Crear un DataFrame a partir de los datos del archivo datos_meteorologicos.csv provisto en esta lección.

In [11]:
import pandas as pd
import numpy as np

In [4]:
ruta = r'C:\Users\steph\Documents\CURSOS\ANALISIS Y CIENCIA DE DATOS\PYTHON PARA DATA SCIENCE-UDEMY\Día 8- Numpy\datos_meteorologicos.csv'
datos = pd.read_csv(ruta)
datos

           Fecha  Temperatura  Precipitación    Humedad
0     01/01/2010    17.440675      10.957482  52.384637
1     02/01/2010    25.759468       5.315628  30.633530
2     03/01/2010    20.138169      15.317706  41.496715
3     04/01/2010    17.244159      13.151008  90.684704
4     05/01/2010    11.182740      16.413667  22.116422
...          ...          ...            ...        ...
5105  24/12/2023    -9.554692      12.700998  50.094533
5106  25/12/2023     2.837831       5.475686  92.456057
5107  26/12/2023    29.873597       4.615012  18.362847
5108  27/12/2023          NaN            NaN        NaN
5109  28/12/2023    37.308043       7.330510  50.646211

[5110 rows x 4 columns]

### 2. Realizar observaciones iniciales de los datos con Pandas.

In [5]:
datos.head()

        Fecha  Temperatura  Precipitación    Humedad
0  01/01/2010    17.440675      10.957482  52.384637
1  02/01/2010    25.759468       5.315628  30.633530
2  03/01/2010    20.138169      15.317706  41.496715
3  04/01/2010    17.244159      13.151008  90.684704
4  05/01/2010    11.182740      16.413667  22.116422

In [6]:
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Fecha          5110 non-null   object
 1   Temperatura    4855 non-null   float64
 2   Precipitación  4855 non-null   float64
 3   Humedad        4855 non-null   float64
dtypes: float64(3), object(1)
memory usage: 159.8+ KB

In [7]:
datos.describe()

       Temperatura  Precipitación      Humedad
count  4855.000000    4855.000000  4855.000000
mean     14.889296       9.901604    54.359061
std      14.440466       5.801842    26.096345
min      -9.996378       0.003008    10.014980
25%       2.651777       4.756907    31.866578
50%      14.693274       9.853698    54.254478
75%      27.381451      14.966997    77.029500
max      39.998201      19.999559    99.996582

### 3. Convertir las columnas del DataFrame en arrays de NumPy.

In [9]:
temperatura = datos.Temperatura.to_numpy()
print(temperatura)

precipitacion = datos.Precipitación.to_numpy()
print(precipitacion)

humedad = datos.Humedad.to_numpy()
print(humedad)

[17.4406752  25.75946832 20.1381688  ... 29.87359717         nan
 37.30804318]
[10.957482    5.31562765 15.31770609 ...  4.61501177         nan
  7.33051023]
[52.38463749 30.63352983 41.49671458 ... 18.36284738         nan
 50.64621058]

### 4. Identificar los datos faltantes en los arrays, y reemplazarlos por el promedio de los valores del respectivo array.

In [13]:
temp_nulo = np.isnan(temperatura)
precip_nulo = np.isnan(precipitacion)
hume_nulo = np.isnan(humedad)

In [14]:
temp_prom = np.nanmean(temperatura)
precip_prom = np.nanmean(precipitacion)
hume_prom = np.nanmean(humedad)

print(temp_prom )
print(precip_prom)
print(hume_prom)

14.889295723531715
9.9016035987084
54.35906079674394

In [16]:
temperatura[temp_nulo] = temp_prom
print(temperatura)

precipitacion[precip_nulo] = precip_prom
print(precipitacion)

humedad[hume_nulo] = hume_prom
print(humedad)

[17.4406752  25.75946832 20.1381688  ... 29.87359717 14.88929572
 37.30804318]
[10.957482    5.31562765 15.31770609 ...  4.61501177  9.9016036
  7.33051023]
[52.38463749 30.63352983 41.49671458 ... 18.36284738 54.3590608
 50.64621058]

### 5. Realizar análisis estadísticos básicos.

##### Temperatura promedio

In [17]:
temp_prom

14.889295723531715

##### Total de precipitaciones

In [30]:
precipitacion_total=np.sum(precipitacion)
precipitacion_total

50597.19438939993

##### Máxima humedad registrada

In [21]:
humedad_max = np.max(humedad)
humedad_max

99.99658156071747

##### Fecha más calurosa

In [22]:
temperatura_max = np.max(temperatura)
temperatura_max

39.99820092713012

In [23]:
registro_mas_caluroso = np.where(temperatura == temperatura_max)[0][0]
registro_mas_caluroso

2749

In [25]:
fecha_mas_calor = datos.iloc[registro_mas_caluroso]['Fecha']
fecha_mas_calor

'12/07/2017'

##### Fehca más fría

In [27]:
temperatura_min = np.min(temperatura)
temperatura_min

-9.996377518075391

In [28]:
registro_mas_frio = np.where(temperatura == temperatura_min)[0][0]
registro_mas_frio

3856

In [29]:
fecha_mas_fria = datos.iloc[registro_mas_frio]['Fecha']
fecha_mas_fria

'23/07/2020'

### 6. Exportar los resultados a un nuevo archivo CSV.

In [31]:
final = pd.DataFrame({
    "Metrica":["Temperatura Promedio", "Precipitacion Total", "Humedad Maxima", "Fecha Mas Calurosa", "Fecha Mas Fria"],
    "valor":[temp_prom,precipitacion_total,humedad_max,fecha_mas_calor, fecha_mas_fria]
})
''
final.to_csv(r'C:\Users\steph\Documents\CURSOS\ANALISIS Y CIENCIA DE DATOS\PYTHON PARA DATA SCIENCE-UDEMY\Día 8- Numpy\Cuadernos para Prácticas\metereologico_final.csv', index= False)